* {
  box-sizing: border-box; }

html,
body {
  font-family: "Fredericka_the_Great", Arial, sans-serif;
  width: 100%; }

header {
  grid-area: header;
  height: 100vh;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 3%; }
  header h1 {
    font-size: 1.9em;
    font-family: "Fredericka_the_Great", Arial, sans-serif;
    color: black; }
  header h1,
  header h2,
  header a {
    font-family: "Fredericka_the_Great", Arial, sans-serif;
    text-align: center; }

p {
  font-family: "Fredericka_the_Great", Arial, sans-serif;
  text-align: center; }

#site-header nav {
  grid-area: nav;
  display: flex;
  width: 50%;
  justify-content: space-around;
  margin: auto;
  padding: 2em 0em;
  padding-bottom: 11em; }
  #site-header nav a {
    font-family: "Fredericka_the_Great", Arial, sans-serif, sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #899ead;
    letter-spacing: 0.063em;
    font-size: 1.125em;
    margin: 0 1.25em;
    border-bottom: 0.125em solid transparent; }
    #site-header nav a:hover {
      border-color: #899ead; }

#projects {
  grid-area: projects;
  height: 100vh;
  background-color: #FFFFFF;
  max-width: 45em;
  margin: auto;
  display: flex; }
  @media screen and (max-width: 27em) {
    #projects {
      height: 1180px; } }
  #projects p {
    flex-wrap: wrap; }

#projects-title {
  padding: 3em;
  text-align: center; }

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 44.688em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around; }

.vertically-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

footer {
  grid-area: footer;
  background-color: #899ead;
  margin-top: 3em; }

.flip {
  height: 199px;
  width: 200px; }

.flip img {
  width: 200px;
  height: auto; }

.flip .back {
  background: #2184cd;
  color: #fff;
  text-align: center; }

.back nav {
  position: relative;
  top: 0px;
  left: 0px;
  flex-direction: column;
  position: relative;
  top: -19px;
  left: -50px;
  justify-content: space-around; }
  .back nav a {
    display: block;
    width: 200px; }

.demo-link {
  background-color: orangered;
  margin: auto; }

.storyboard-link {
  background-color: blue;
  margin: auto; }

.code-link {
  background-color: green;
  margin: auto; }

#storyboards {
  width: 100%;
  height: 100vh;
  background-color: lightblue;
  display: grid;
  grid-gap: 0.5em; }

.storyboard {
  height: 100vh; }

.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: [line1] 1fr [line2] 1fr [line3] 1fr [line4] 1fr [line5] 1fr [line6] 1fr [line7] 1fr [end];
  grid-template-rows: [row1] 200px [row2] 60px [row3] 200px [row4] 200px [row5] 200px [row6] 200px [row7] 200px [end];
  margin: 3em auto;
  width: 100%;
  border: 1px solid red; }

.nested {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 48px;
  grid-gap: 1em; }
  .nested li,
  .nested a {
    border: #333 1px solid;
    padding: 1em;
    list-style: none; }

.item {
  border: 1px solid green;
  background: mistyrose; }

.storyboardTitle {
  grid-column-start: line2;
  grid-column-end: line4;
  grid-row-start: row1; }
  @media screen and (max-width: 27em) {
    .storyboardTitle {
      grid-column-start: line1;
      grid-column-end: end; } }

.storyboardSkills {
  grid-column-start: line5;
  grid-column-end: end;
  grid-row-start: row1; }
  @media screen and (max-width: 27em) {
    .storyboardSkills {
      grid-column-start: line1;
      grid-column-end: end;
      grid-row-start: row2; } }

.storyboardNav {
  grid-column-start: line2;
  grid-column-end: line4;
  grid-row-start: row2; }
  @media screen and (max-width: 27em) {
    .storyboardNav {
      grid-column-start: line1;
      grid-column-end: end;
      grid-row-start: row3; } }

.storyboardMainImage {
  width: 100%;
  grid-column-start: line3;
  grid-column-end: line6;
  grid-row-start: row4;
  grid-row-end: row7; }
  @media screen and (max-width: 27em) {
    .storyboardMainImage {
      grid-column-start: line1;
      grid-column-end: end;
      grid-row-start: row4; } }

/*# sourceMappingURL=app.css.map */
